footer{
    background-color: red;
    height: 40vh;
    color: white;
    text-align: center;
    margin-top: 50vh;
}
ul{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
    text-align: center;
    padding: 10px;

}

ul li a{
    color: white; 
    font-size: 25px;
}